<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="navbar-brand">🏠 Life assistant</a>
        
        <ul class="navbar-menu">
            <li><a href="{{ url_for('tasks.home') }}" class="navbar-link">📝 Tâches</a></li>
            <li><a href="{{ url_for('tasks.categories') }}" class="navbar-link">🏷️ Catégories</a></li>
            <li><a href="#" class="navbar-link disabled">💰 Finances</a></li>
            <li><a href="#" class="navbar-link disabled">📅 Agenda</a></li>
            <li><a href="#" class="navbar-link disabled">📝 Notes</a></li>
            <li><a href="#" class="navbar-link disabled">🎯 Objectifs</a></li>
        </ul>
    </div>
</nav>